<div class="d-flex flex-column flex-lg-row-auto w-lg-350px w-xl-500px">   
    <div class="d-flex flex-column position-lg-fixed top-0 bottom-0 w-lg-350px w-xl-500px scroll-y bgi-size-cover bgi-position-center" style="background-image: url(/assets/media/misc/auth-bg.png)">
        <div class="d-flex flex-center py-10 py-lg-20 mt-lg-20">          
            <a href="/">
                <img alt="Logo" src="/logo.png" class="h-70px">
            </a>    
        </div>
        <div class="d-flex flex-row-fluid justify-content-center p-10"> 
            <div class="stepper-nav">
                <slot/>
            </div>
        </div>
        <div class="d-flex flex-center flex-wrap px-5 py-10">
            <div class="d-flex fw-normal">
                <a href="#" class="text-success px-5" target="_blank">Terms</a>
                <a href="#" class="text-success px-5" target="_blank">Plans</a>
                <a href="#" class="text-success px-5" target="_blank">Contact Us</a>
            </div>
        </div>        
    </div>
</div>