<div class="fv-row mb-8 fv-plugins-icon-container fv-plugins-bootstrap5-row-valid">
    <label class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" name="toc" value="1">
        <span class="form-check-label fw-semibold text-gray-700 fs-base ms-1">
            I Accept the <a href="#" class="ms-1 link-primary">Terms</a>
        </span>
    </label>
    <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
</div>