<div class="border border-gray-300 border-dashed rounded w-225px py-3 px-4 me-6 mb-3">
    <div class="d-flex align-items-center">
        <span class="svg-icon fs-3 text-success me-2">
            ...
        </span>
        <div
            class="fs-2 fw-bold"
            id="kt_countup_1"
            data-kt-countup="true"
            data-kt-countup-value="4500"
            data-kt-countup-prefix="$"
        >0</div>
    </div>
    <div class="fw-semibold fs-6 ">Earnings</div>
</div>